@import "tailwindcss";

/* Skeleton Pulse Animation for loading state */
@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }
}

.skeleton {
  background-color: #e2e8f0;
  border-radius: 0.375rem;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}